@font-face {
    font-family: Romana; 
    src: url('fonts/RomanaScript.ttf');
}

@font-face {
    font-family: Carolina; 
    src: url('fonts/Carolina.ttf');
}

@font-face {
    font-family: Chocogirl; 
    src: url('fonts/Chocogirl.ttf');
}
html, body{
	padding: 0;
	margin: 0;
}

body{
	background-image: url('bstorm.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
}
.start{
	font-family: Carolina;
	font-size: 55px;
	font-weight: bolder;
	color: rgba(115, 43, 115, 0.8);
	padding-left: 15%;
	
}

a{
	text-decoration: none;
	
}

.rotate{
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	width: 70px;
	height: 70px;
	line-height: 55px;
}
.rotate:hover{
	transform-origin: 50% 50%;
	-webkit-transform: rotateY(-360deg);
	-webkit-transition-duration: 1s;
	-moz-transform: rotateY(-360deg);
	-moz-transition-duration: 1s;
	-o-transform: rotateY(-360deg);
	-o-transition-duration: 1s;
}