@font-face {
    font-family: Romana; 
    src: url('fonts/RomanaScript.ttf');
}

@font-face {
    font-family: Carolina; 
    src: url('fonts/Carolina.ttf');
}

@font-face {
    font-family: Chocogirl; 
    src: url('fonts/Chocogirl.ttf');
}
html, body{
	padding: 0;
	margin: 0;
}

div#memory_board{
	background:rgba(230, 202, 208, 0.39);
	border:#999 1px solid;
	width:800px;
	height:665px;
	padding:10px;
	margin:10px auto;
}

div#memory_board  div{
	background: url('brain.png') no-repeat;
	background-position: center;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}

body{
	background: url('fon.jpg') no-repeat;
	background-position: center;
}
#title{
	font-family: Chocogirl;
	font-size: 54px;
	text-decoration: none;
	font-weight: bolder;
	color: rgba(115, 43, 115, 0.8);
	text-align: center;
}

a{
	text-decoration: none;
}

.rotate{
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	width: 70px;
	height: 70px;
	line-height: 55px;
	position: relative;
}
.rotate:hover{
	transform-origin: 50% 50%;
	-webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
	-webkit-transition-duration: 1s;
}

#levelup{
	font-family: Chocogirl;
	font-size: 26px;
	font-weight: bold;
	color: rgb(84, 34, 140);
	text-align: center;
}

#table{
	font-weight: bold;
	position: absolute;
	top:90px;
	left:30px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFECE5), to(#F9CA9C));
	height: 28px;
	color: darkblue;
	border: none;
	font-size: 21px; 
	font-family: Romana;
	border-radius: 5px;
}